<nav>
  <div class="menu">
    <a href="<%= new_article_path %>" style="background-color: lightslategray">Create a new article</a>
    <% for article in @articles do%>
      <a href="<%= article_path(article) %>"><%= article.title %></a>
    <% end %>
  </div>
</nav>